{% extends 'base.html' %}

{% block body_block %}
{% load static %}
<div class="jumbotron">
    <h1>Employee Attrition Prediction </h1>
    <div class="fieldWrapper">
      <h2>For the values</h2>
      <p>YearsAtCompany:{{data_ycomp}}</p>
      <p>YearsInCurrentRole:{{data_ycurole}}</p>
      <p>YearsSinceLastPromotion:{{data_yprom}}</p>
      <p>YearsWithCurrManager:{{data_ycman}}</p>
      <p>JobSatisfaction:{{data_jobsat}}</p>
      <p>MonthlyIncome:{{data_monin}}</p>
      <br>
      {% if out == 1 %}
        <p>You <b>will have</b>  chronic Kidney Disease in the future: <b>Positive</b></p>
      {% else %}
        <p>You <b>will not</b> have  chronic Kidney Disease in the future:<b>Negative</b></p>

      {% endif %}

    <a  href="{% url 'ckdApp:ckd' %}">CKD Predicition</a>
    <br>
</div>
{% endblock %}
